# LOSTVIBE Server Configuration
PORT=3000

# Google Gemini API Key (Get a free key from Google AI Studio)
GEMINI_API_KEY=AIzaSyBpUV_1rEViYIsXpY24He6amYw8ZCPOw14

# LostArk OpenAPI Key (Get a key from https://developer-lostark.game.onstove.com/)
LOSTARK_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IktYMk40TkRDSTJ5NTA5NWpjTWk5TllqY2lyZyIsImtpZCI6IktYMk40TkRDSTJ5NTA5NWpjTWk5TllqY2lyZyJ9.eyJpc3MiOiJodHRwczovL2x1ZHkuZ2FtZS5vbnN0b3ZlLmNvbSIsImF1ZCI6Imh0dHBzOi8vbHVkeS5nYW1lLm9uc3RvdmUuY29tL3Jlc291cmNlcyIsImNsaWVudF9pZCI6IjEwMDAwMDAwMDAyNjcxODAifQ.UtVlSYg8s10b096dV4_GkXt5q6QOC9B_y3okvnCKLaT1_mVrlNs0oxYOpcbk0cnJpAy4XyUKYG7FPFRXm1fXneGzQR7Ng5qjYQf3Y5wh9qgRg88XYWCldWOdyMipYGZhBz7-OhciVzIyFR4Wc2Wn9rzPA-qtk3lRiuGta183yTGDuOpKhiTYRm-g2wtVuBj4JoTtMseUT-R4scuPDL49NSP5bAq4kxXTHMmMnHPuiaur8FHzxcqrfAysCxKbW_HzcRSalaqxZEzYjGtyO-Pk2hM6cuD0SLYrOtSenUDoIAP9Y-QY39_KUYPk4clmLZq-_n5SP_i3GULaf72jwUcVEA

# Supabase 설정
SUPABASE_URL=https://ulpekwximcvrzqtxozdm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVscGVrd3hpbWN2cnpxdHhvemRtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTM3NTA5NCwiZXhwIjoyMDk0OTUxMDk0fQ.8E6n3cZqFCTfzpiTjJzK_trYg0jUcGxdC30Ry7llRf8